.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_form {
  display: flex;
  flex-direction: column; /* Or use display: grid*/
  margin: 20px;
}

.login_form > input {
  font-size: 20px;
  width: 350px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login_form > button {
  padding: 10px;
  font-weight: 600;
  color: #fff;
  font-size: large;
  width: 365px;
  height: 50px;
  background-color: #0074b1;
  border-radius: 5px;
}

.login_register {
  color: #0177b7;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
}
